.clear-all-tasks-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmation{
    display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
}
.confirmation-buttons{
    display: flex;
    gap: 5px;
}
